.grid-container {
  border-style: double;
  display: grid;
  height: 250px;
  width: 300px;
  grid-template-columns: 0.5fr 1.8fr;
  grid-template-rows: 0.6fr 0.4fr 2fr;
  align-content: space-evenly;
  gap: 0px 0px;
  grid-template-areas:
    "Photo Details . ."
    "Description Description . ."
    ". . . .";
}

.Photo {
  grid-area: Photo;
}
.Description {
  grid-area: Description;
}
.Details {
  grid-area: Details;
}
